[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/bundle/easyescape"]
	path = vim/bundle/easyescape
	url = https://github.com/zhou13/vim-easyescape
